.main
{ 
  float:center;
  font-family:carsive;  
}

.main ul
{
  margin-top: 10px; 
  float:right;
  font-family:cursive;
  list-style:none;
  margin-top:30x;

}

.main li
{
  display: inline-block;
}

.main li a
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 13px;
}

.main li.active
{
  border: 1px solid white;
}
.main li:hover
{
  border:1px solid white;
  background-color: orange;
}